doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a.nav(href="/") Dynamic Linking
    a.nav(href="/pagination") Pagination
    br
    br
    br
    block content
