body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  .heading {
    font-size: 40px;
    color: red;
    font-weight: bold;
  }
  
  a {
    color: #00b7ff;
  }
  
  .nav {
    font-size: 20px;
    color: blue;
  }
  .nav:hover {
    font-size: 20px;
    color: black;
  }
  
  .nav + .nav {
    margin-left: 30px;
  }
  
  td,
  th {
    padding: 20px;
  }
  
  thead {
    background-color: #333;
    color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2%;
  }
  
  tbody td {
    background-color: #36c;
    color: #fff;
    text-align: left;
  }
  
  tbody td:nth-child(even) {
    background-color: #25c;
  }

  .pagination {
    margin: 50px 0;
  }

  .page-link, .prev, .next {
    margin-right: 20px;
    padding: 4px;
    border: 1px solid black;
  }

  .page-link.selected {
    border-color: red;
    background: red;
    color: #fff;
  }

  .content {
    padding-bottom: 30px;
  }
  
  .content-data {
    display: block;
    padding: 10px 0;
  }

  #myModal {
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 40px;
    background: red;
    transform: translate(-50%, -50%);
    z-index: 9;
  }

  #myModalBackdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }

  input[type="text"] {
    width: 100%;
  } 

  .hide {
    display: none;
  }

  /* Selected filters on page load */
  .filter-item.active {
    color: red;
  }
  
  /********************************/
  /* Request Information CSS */
  /********************************/
  .request-info-modal,
  .request-info-modal-backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
  }
  .request-info-modal {
    width: 400px;
    height: auto;
    max-height: 70vh;
    overflow: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    z-index: 2;
  }
  .show.request-info-modal,
  .show.request-info-modal-backdrop {
    display: block;
  }
  .request-info-modal .title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  .request-info-modal .dropdown {
    display: flex;
    padding: 10px 0;
  }
  .request-info-modal label {
    width: 150px;
  }
  .request-info-modal textarea {
    width: calc(100% - 10px);
  }
  .request-info-modal .captcha {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .request-info-modal .error {
    border: 1px solid red;
  }
  
  /* message css */
  .request-info-message {
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 3;
    padding: 10px 30px;
    background: #ccc;
    display: none;
  }
  
  .request-info-message.show {
    display: block;
  }
  
  .request-info-message.success {
    background: #adff2f;
  }
  
  .request-info-message.error {
    background: #ff4848;
  }
  